[Unit]
Description=Chagle Service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
LimitNOFILE=1048576

# with root
ExecStart=/usr/bin/chagle /etc/chagle/%i.toml
# without root
# ExecStart=%h/.local/bin/chagle %h/.local/etc/chagle/%i.toml

[Install]
WantedBy=multi-user.target
